@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fefcf8;
}

.bg-grad {
    background: linear-gradient(
            90deg,
            rgba(254, 255, 239, 1) 0%,
            rgba(0, 212, 255, 1) 0%,
            rgba(255, 255, 255, 1) 0%,
            rgba(237, 255, 32, 0.648879620207458) 74%,
            rgba(255, 255, 248, 1) 92%
    );
}

.scroll-animation {
    width: 10%;
    white-space: nowrap;
    overflow: hidden;
    animation: scroll 2s linear infinite; /* Adjust the duration and timing function as needed */
}

@keyframes scroll {
    0% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(-10%);
    }
}
